/* Index */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
#contenidoIndex {
  display: grid;
  grid-template-columns: 200px 80vw;
  grid-template-rows: 200px 40vh 25vh 55vh;
  grid-template-areas: "logo imagenes" "menu imagenes" "menu tabla" "sitemap sitemap"; }

.tablaIndex {
  grid-area: tabla; }

.logoIndex {
  grid-area: logo; }

.principalIndex {
  grid-area: menu;
  width: 200px;
  min-height: 30vh;
  background-color: white; }

#imagenesIndex {
  grid-area: imagenes;
  display: grid;
  grid-template-rows: 200px 40vh;
  grid-template-columns: 40vw 40vw;
  grid-template-areas: "columna1 columna2 " "columna1 columna2"; }

.columna1 {
  grid-area: columna1;
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: end;
  justify-content: center;
  background-image: url(../imagenes/imagen1.jpg); }

.columna2 {
  grid-area: columna2;
  display: grid;
  grid-template-columns: 40vw;
  grid-template-rows: 200px 20vh 20vh;
  grid-template-areas: "imagen2" "img4" "img6"; }

.imagen2 {
  grid-area: imagen2;
  background-image: url(../imagenes/imagen2.jpg);
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center; }

.img4 {
  grid-area: img4;
  background-image: url(../imagenes/img4.jpg);
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center; }

.img6 {
  grid-area: img6;
  background-image: url(../imagenes/img6.jpg);
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center; }

.imagenesIndex__links {
  color: white; }

@media only screen and (min-width: 576px) and (max-width: 992px) {
  #contenidoIndex {
    display: grid;
    padding-left: 12px;
    grid-template-columns: 200px 60vw;
    grid-template-rows: 200px 40vh 25vh;
    grid-template-areas: "logo imagenes" "menu imagenes" "tabla tabla"; }
  .principalIndex {
    width: 200px; } }

@media only screen and (max-width: 576px) {
  #contenidoIndex {
    display: grid;
    padding-left: 12px;
    grid-template-columns: 200px 80vw;
    grid-template-rows: 200px 40vh 25vh;
    grid-template-areas: "logo imagenes" "menu imagenes" "tabla tabla"; }
  #imagenesIndex {
    grid-area: imagenes;
    display: grid;
    grid-template-rows: 200px 10vh 30vh;
    grid-template-columns: 40vw 40vw;
    grid-template-areas: "columna1 columna1 " "columna1 columna1" "columna2 columna2"; }
  .columna2 {
    grid-area: columna2;
    display: flex;
    flex-direction: row; } }

/* Tienda */
.datosTienda {
  grid-area: datos;
  display: grid;
  grid-template-columns: 60vw;
  grid-template-rows: 20vh 50vh;
  grid-template-areas: "header" "carrusel"; }

.headerTienda {
  grid-area: header;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.carruselTienda {
  grid-area: carrusel;
  padding: 30px; }

/* estilo de la tienda */
.cart {
  display: flex;
  justify-content: center; }
  .cart .fa {
    color: black; }

.cart .fa:hover {
  color: #7300CB;
  transition: 0.3s ease-out; }

.catheader {
  color: #202020; }

.catheader:hover {
  color: #7300CB;
  transition: 0.3s ease-out; }

.agregar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.agregar:hover {
  color: #7300CB;
  transition: 0.3s ease-out; }

.carrusel__titulo--rubia {
  color: #FAD724; }

.carrusel__titulo--roja {
  color: #cc0000; }

.carrusel__titulo--negra {
  color: #ffffdd; }

.carrusel__subtitulo {
  color: #ffffdd; }

.carousel-inner img {
  height: 50vh; }

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .catheader {
    font-size: 125%; } }

@media only screen and (max-width: 576px) {
  .datosTienda {
    grid-area: datos;
    display: grid;
    grid-template-columns: 60vw;
    grid-template-rows: 70vh 20vh;
    grid-template-areas: "carrusel" "header"; }
  .catheader {
    font-size: 100%; } }

/* Contacto */
.datosContacto {
  grid-area: datos;
  padding: 30px;
  display: grid;
  grid-template-columns: 80vw;
  grid-template-rows: 90vh;
  grid-template-areas: "formulario"; }

.btn {
  background-color: #668cff !important; }

.btn:hover {
  background-color: #b3c6ff !important; }

/* Nosotros */
.datosNosotros {
  grid-area: datos;
  padding: 30px;
  display: grid;
  grid-template-columns: 60vw;
  grid-template-rows: 40vh 50vh;
  grid-template-areas: "equipo" "historia"; }

.equipo {
  grid-area: equipo;
  background-color: black;
  border: 2px solid;
  color: white;
  margin-left: 30px;
  padding: 10px; }

.historia {
  grid-area: historia;
  background-color: white;
  border: 2px solid;
  margin-left: 30px;
  margin-top: 50px;
  padding: 10px; }

.nosotros--fuente {
  font-family: 'Dancing Script', cursive; }

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .datosNosotros {
    grid-area: datos;
    padding: 30px;
    display: grid;
    grid-template-columns: 60vw;
    grid-template-rows: 50vh 60vh;
    grid-template-areas: "equipo" "historia"; } }

@media only screen and (max-width: 576px) {
  .datosNosotros {
    grid-area: datos;
    padding: 30px;
    display: grid;
    grid-template-columns: 60vw;
    grid-template-rows: 60vh 70vh;
    grid-template-areas: "equipo" "historia"; } }

/* Locales */
.datosLocales {
  grid-area: datos;
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 90vh;
  grid-template-areas: "locales mapa"; }

.locales {
  grid-area: locales;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start; }

.mapa {
  grid-area: mapa;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

@media only screen and (max-width: 768px) {
  .datosLocales {
    grid-area: datos;
    display: grid;
    grid-template-columns: 60vw;
    grid-template-rows: 45vh 45vh;
    grid-template-areas: "locales" " mapa"; } }

/* Cervezas */
.datosCervezas {
  grid-area: datos;
  display: grid;
  grid-template-columns: 80vw;
  grid-template-rows: 70vh;
  grid-template-areas: "productos"; }

.productos {
  grid-area: productos;
  padding: 3%; }

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start; }

.dropdown .titulo {
  font-size: 200%;
  font-weight: bold;
  color: #7300CB; }

.varietales {
  margin-left: 7vw; }

.rubias__lista li {
  font-size: 70%; }

.varietales__lista li {
  font-size: 70%; }

/* Merchandising */
.tableBackgroundColor--light {
  background-color: #6c757d; }

.tableBackgroundColor--dark {
  background-color: #212529; }

.tableBackgroundColor--lighter {
  background-color: #6d767e; }

.tableBackgroundColor--darker {
  background-color: #22262a; }

.tablaMerch {
  padding: 10px; }

.tableBorder--thicker {
  border-width: 2px;
  border-color: #212529;
  border-style: solid; }

.tableColor--white {
  color: white; }

.table--justify {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

/* Main */
body {
  background-image: url(../imagenes/fondo.jpeg); }

a {
  text-decoration: none !important; }

.sitemap {
  grid-area: sitemap;
  max-width: 200px; }
  .sitemap ul {
    background-color: white; }
    .sitemap ul li a {
      color: black !important; }
  .sitemap .active {
    background-color: #d9d9d9 !important;
    border-color: #d9d9d9 !important; }
    .sitemap .active a {
      color: #6c757d !important; }

/* Estilo del Menu */
.submenu {
  display: none;
  width: 110px;
  line-height: 1.5; }

.lista li:hover {
  background-color: black;
  transition: 0.999s; }
  .lista li:hover h3 {
    color: white;
    transition: 0.999s; }
  .lista li:hover .submenu li {
    color: white; }

h3 {
  color: black; }

li {
  color: black;
  list-style-position: outside; }

/* Redes Sociales */
.RS {
  display: flex;
  justify-content: center;
  margin: 30px; }

.fa {
  margin: 10px;
  transform: scale(1.8); }

.fa:hover {
  color: black; }

/* altCSS */
#contenidoAlt {
  display: grid;
  grid-template-columns: 200px 80vw;
  grid-template-rows: 30vh 60vh 55vh;
  grid-template-areas: "logo datos" "menu datos" "sitemap sitemap"; }

.logoAlt {
  grid-area: logo;
  max-width: 200px;
  max-height: 200px;
  transform: translateY(-2px); }

.menuAlt {
  grid-area: menu;
  width: 200px;
  background-color: white; }
