/* Index */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
#contenidoIndex {
  display: grid;
  grid-template-columns: 200px calc(100vw - 200px);
  grid-template-rows: 200px calc(60vh - 100px) calc(40vh - 100px);
  grid-template-areas: "logo imagenes" "menu imagenes" "menu imagenes"; }

.logoIndex {
  grid-area: logo; }

.principalIndex {
  grid-area: menu;
  width: 200px;
  min-height: 30vh;
  background-color: white; }
  .principalIndex .lista {
    font-family: 'Cinzel', serif; }
    .principalIndex .lista li {
      margin-top: 40px;
      margin-right: 3vw; }
  .principalIndex .RS {
    padding-top: 40px; }

#imagenesIndex {
  grid-area: imagenes;
  display: grid;
  grid-template-rows: 25vh 25vh 25vh 25vh;
  grid-template-columns: calc(50vw - 100px) calc(50vw - 100px);
  grid-template-areas: "tienda locales" "tienda contacto" "cervezas nosotros" "cervezas promos"; }

.tiendaimg {
  grid-area: tienda;
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/tiendaimg.jpg);
  background-size: 42.5vw 80vh; }

.tiendaimg:hover {
  background-size: 50vw 85vh;
  transition: 1.8s; }

.localesimg {
  grid-area: locales;
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/localesimg.jpg);
  background-size: 42.5vw 80vh; }

.localesimg:hover {
  background-size: 50vw 85vh;
  transition: 1.8s; }

.contactoimg {
  grid-area: contacto;
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/contactoimg.jpg);
  background-size: 42.5vw 80vh; }

.contactoimg:hover {
  background-size: 50vw 85vh;
  transition: 1.8s; }

.cervezasimg {
  grid-area: cervezas;
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/cervezasimg.jpg);
  background-size: 42.5vw 80vh; }

.cervezasimg:hover {
  background-size: 50vw 85vh;
  transition: 1.8s; }

.nosotrosimg {
  grid-area: nosotros;
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/nosotrosimg.jpg);
  background-size: 42.5vw 80vh; }

.nosotrosimg:hover {
  background-size: 50vw 85vh;
  transition: 1.8s; }

.promosimg {
  grid-area: promos;
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/promosimg.jpg);
  background-size: 42.5vw 80vh; }

.promosimg:hover {
  background-size: 50vw 85vh;
  transition: 1.8s; }

.imagenesIndex__links {
  color: black;
  font-family: 'Diplomata SC', cursive !important;
  font-size: 150%;
  text-align: center; }

@media only screen and (min-width: 576px) and (max-width: 992px) {
  #contenidoIndex {
    display: grid;
    padding-left: 12px;
    grid-template-columns: 200px 60vw;
    grid-template-rows: 200px 50vh 30vh;
    grid-template-areas: "logo imagenes" "menu imagenes" "menu imagenes"; }
  .principalIndex {
    width: 200px; }
  #imagenesIndex {
    grid-area: imagenes;
    display: grid;
    grid-template-rows: 35vh 35vh 30vh;
    grid-template-columns: 42.5vw 42.5vw;
    grid-template-areas: "tienda locales" "cervezas contacto" "promos nosotros"; }
  .tiendaimg {
    grid-area: tienda;
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/tiendaimg.jpg);
    background-size: 45vw 35vh; }
  .tiendaimg:hover {
    background-size: 50vw 40vh; }
  .localesimg {
    grid-area: locales;
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/localesimg.jpg);
    background-size: 45vw 35vh; }
  .localesimg:hover {
    background-size: 50vw 40vh; }
  .contactoimg {
    grid-area: contacto;
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/contactoimg.jpg);
    background-size: 45vw 35vh; }
  .contactoimg:hover {
    background-size: 50vw 40vh; }
  .cervezasimg {
    grid-area: cervezas;
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/cervezasimg.jpg);
    background-size: 45vw 35vh; }
  .cervezasimg:hover {
    background-size: 50vw 40vh; }
  .nosotrosimg {
    grid-area: nosotros;
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/nosotrosimg.jpg);
    background-size: 45vw 35vh; }
  .nosotrosimg:hover {
    background-size: 50vw 40vh; }
  .promosimg {
    grid-area: promos;
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/promosimg.jpg);
    background-size: 45vw 35vh; }
  .promosimg:hover {
    background-size: 50vw 40vh; } }

@media only screen and (max-width: 576px) {
  #contenidoIndex {
    display: grid;
    padding-left: 12px;
    grid-template-columns: 200px 80vw;
    grid-template-rows: 30vh 150vh;
    grid-template-areas: "logo imagenes" "menu imagenes"; }
  #imagenesIndex {
    grid-area: imagenes;
    display: grid;
    grid-template-rows: 30vh 30vh 30vh 30vh 30vh 30vh;
    grid-template-columns: 60vw;
    grid-template-areas: "tienda" "cervezas" "locales" "contacto" "nosotros" "promos"; }
  .tiendaimg {
    background-size: 60vw 35vh; }
  .tiendaimg:hover {
    background-size: 70vw 40vh; }
  .localesimg {
    background-size: 60vw 35vh; }
  .localesimg:hover {
    background-size: 70vw 40vh; }
  .contactoimg {
    background-size: 60vw 35vh; }
  .contactoimg:hover {
    background-size: 70vw 40vh; }
  .cervezasimg {
    background-size: 60vw 35vh; }
  .cervezasimg:hover {
    background-size: 70vw 40vh; }
  .nosotrosimg {
    background-size: 60vw 35vh; }
  .nosotrosimg:hover {
    background-size: 70vw 40vh; }
  .promosimg {
    background-size: 60vw 35vh; }
  .promosimg:hover {
    background-size: 70vw 40vh; } }

/* Tienda */
.datosTienda {
  grid-area: datos;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25vh 70vh 15vh;
  grid-template-areas: "header" "carrusel" "servicios"; }

.headerTienda {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Lora', serif; }
  .headerTienda h2 {
    color: white; }

.carruselTienda {
  grid-area: carrusel;
  padding: 30px; }
  .carruselTienda .carousel-item img {
    height: 60vh; }

.servicios {
  grid-area: servicios;
  background-color: white;
  padding: 0vh 2vw;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
  grid-template-areas: "envio metodo seguridad"; }

.envio {
  grid-area: envio;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: "f1-envio" "f2-envio" "f3-envio"; }

.metodo {
  grid-area: metodo;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: "f1-metodo" "f2-metodo" "f3-metodo"; }

.seguridad {
  grid-area: seguridad;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: "f1-seguridad" "f2-seguridad" "f3-seguridad"; }

.envio .f1-envio {
  grid-area: f1-envio;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.envio .f2-envio {
  grid-area: f2-envio;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.envio .f3-envio {
  grid-area: f3-envio;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.metodo .f1-metodo {
  grid-area: f1-metodo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.metodo .f2-metodo {
  grid-area: f2-metodo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.metodo .f3-metodo {
  grid-area: f3-metodo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.seguridad .f1-seguridad {
  grid-area: f1-seguridad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.seguridad .f2-seguridad {
  grid-area: f2-seguridad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.seguridad .f3-seguridad {
  grid-area: f3-seguridad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* estilo de la tienda */
.cart {
  display: flex;
  justify-content: center; }
  .cart .fa {
    color: white; }

.cart .fa:hover {
  color: #ff44ff;
  transition: 0.3s ease-out; }

.catheader {
  color: #202020;
  font-size: 3vw; }

.catheader:hover {
  color: #ff44ff;
  transition: 0.3s ease-out; }

.carruselTienda strong {
  font-family: 'Diplomata SC', cursive; }

.carrusel__subtitulo {
  color: #990099; }

.carousel-inner img {
  height: 50vh; }

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .catheader {
    font-size: 125%; }
  .datosTienda {
    grid-area: datos;
    display: grid;
    grid-template-columns: 85vw;
    grid-template-rows: 25vh 70vh 25vh;
    grid-template-areas: "header" "carrusel" "servicios"; }
  .carruselTienda {
    grid-area: carrusel;
    padding: 30px;
    background-color: #6d767e; }
    .carruselTienda .carousel-item img {
      height: 50vh; } }

@media only screen and (max-width: 576px) {
  .datosTienda {
    grid-area: datos;
    display: grid;
    grid-template-columns: 60vw;
    grid-template-rows: 50vh 25vh 30vh;
    grid-template-areas: "carrusel" "header" "servicios"; }
  .headerTienda {
    grid-area: header;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black; }
  .carruselTienda {
    grid-area: carrusel;
    padding: 30px;
    background-color: #6d767e; }
    .carruselTienda .carousel-item img {
      height: 40vh; }
  .catheader {
    font-size: 100%; } }

/* Contacto */
.datosContacto {
  grid-area: datos;
  padding: 30px;
  display: grid;
  grid-template-columns: 80vw;
  grid-template-rows: 90vh;
  grid-template-areas: "formulario"; }

.datosContacto label {
  font-weight: bold;
  color: white; }

.btn {
  background-color: #668cff !important; }

.btn:hover {
  background-color: #b3c6ff !important; }

/* Nosotros */
.datosNosotros {
  grid-area: datos;
  padding: 30px;
  display: grid;
  grid-template-columns: 60vw;
  grid-template-rows: 45vh 45vh 25vh;
  grid-template-areas: "equipo" "historia" "cervezas"; }

.equipo {
  grid-area: equipo;
  background-color: black;
  border: 2px solid;
  color: white;
  margin-left: 30px;
  padding: 10px; }

.historia {
  grid-area: historia;
  background-color: white;
  border: 2px solid;
  margin-left: 30px;
  margin-top: 20px;
  padding: 10px; }

.cervezasNosotros {
  grid-area: cervezas;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 2px solid;
  margin-left: 30px;
  margin-top: 20px;
  padding: 10px; }

.nosotros--fuente {
  font-family: 'Dancing Script', cursive; }

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .datosNosotros {
    grid-area: datos;
    padding: 30px;
    display: grid;
    grid-template-columns: 60vw;
    grid-template-rows: 60vh 60vh;
    grid-template-areas: "equipo" "historia"; }
  .cervezasNosotros {
    display: none; } }

@media only screen and (max-width: 576px) {
  .datosNosotros {
    grid-area: datos;
    padding: 30px;
    display: grid;
    grid-template-columns: 60vw;
    grid-template-rows: 70vh 70vh;
    grid-template-areas: "equipo" "historia"; }
  .cervezasNosotros {
    display: none; } }

/* Locales */
.datosLocales {
  grid-area: datos;
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 90vh;
  grid-template-areas: "locales mapa"; }

.locales {
  grid-area: locales;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start; }
  .locales h1 {
    color: white;
    font-family: 'Lora', serif; }

.mapa {
  grid-area: mapa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  padding: 20px; }
  .mapa iframe {
    margin-top: 30vh; }

@media only screen and (max-width: 768px) {
  .datosLocales {
    grid-area: datos;
    display: grid;
    grid-template-columns: 60vw;
    grid-template-rows: 420px 100vh;
    grid-template-areas: "mapa" "locales"; }
  .mapa iframe {
    margin-top: 0px; } }

/* Cervezas */
.datosCervezas {
  grid-area: datos;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15vh 15vh 15vh 60vh;
  grid-template-areas: "header" "menu" "busqueda" "contenido"; }

.headerCervezas {
  grid-area: header;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .headerCervezas h1 {
    color: white;
    font-family: 'Lora', serif; }

.busquedaCervezas {
  grid-area: busqueda;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .busquedaCervezas label {
    color: white; }
  .busquedaCervezas .fa {
    color: white; }
  .busquedaCervezas .buscador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.menuCervezas {
  grid-area: menu;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .menuCervezas h2 {
    text-decoration: none !important;
    color: white;
    font-family: 'Lora', serif; }
  .menuCervezas h2:hover {
    color: #ff44ff;
    transition: 0.3s ease-out; }

.contenidoCervezas {
  grid-area: contenido;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 250vh 250vh;
  grid-template-areas: "rubias" "varietales"; }

.rubias {
  grid-area: rubias;
  display: grid;
  margin: 0% 2.5%;
  grid-template-columns: 100%;
  grid-template-rows: 50vh 50vh 50vh 50vh 50vh;
  grid-template-areas: "lager" "pilsen" "honey" "trigo" "frutales"; }

.varietales {
  grid-area: varietales;
  display: grid;
  margin: 0% 2.5%;
  grid-template-columns: 100%;
  grid-template-rows: 50vh 50vh 50vh 50vh 50vh;
  grid-template-areas: "porter" "stout" "scotch" "IPA" "barley_wine"; }

.lager {
  grid-area: lager;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh;
  grid-template-areas: "texto_lager img_lager"; }
  .lager h3 {
    font-size: 100%; }

.texto_lager {
  grid-area: texto_lager;
  padding: 2%; }
  .texto_lager p {
    text-align: justify;
    text-justify: inter-word; }

.img_lager {
  grid-area: img_lager;
  padding: 2%;
  background-image: url(../imagenes/lager.jpg);
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-size: 80% 35vh; }

.pilsen {
  grid-area: pilsen;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh;
  grid-template-areas: "texto_pilsen img_pilsen"; }
  .pilsen h3 {
    font-size: 100%; }

.texto_pilsen {
  grid-area: texto_pilsen;
  padding: 2%; }
  .texto_pilsen p {
    text-align: justify;
    text-justify: inter-word; }

.img_pilsen {
  grid-area: img_pilsen;
  padding: 2%;
  background-image: url(../imagenes/pilsen.jpg);
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-size: 80% 35vh; }

.honey {
  grid-area: honey;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh;
  grid-template-areas: "texto_honey img_honey"; }
  .honey h3 {
    font-size: 100%; }

.texto_honey {
  grid-area: texto_honey;
  padding: 2%; }
  .texto_honey p {
    text-align: justify;
    text-justify: inter-word; }

.img_honey {
  grid-area: img_honey;
  padding: 2%;
  background-image: url(../imagenes/honey.jpg);
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-size: 80% 35vh; }

.trigo {
  grid-area: trigo;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh;
  grid-template-areas: "texto_trigo img_trigo"; }
  .trigo h3 {
    font-size: 100%; }

.texto_trigo {
  grid-area: texto_trigo;
  padding: 2%; }
  .texto_trigo p {
    text-align: justify;
    text-justify: inter-word; }

.img_trigo {
  grid-area: img_trigo;
  padding: 2%;
  background-image: url(../imagenes/trigo.jpg);
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-size: 80% 35vh; }

.frutales {
  grid-area: frutales;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh;
  grid-template-areas: "texto_frutales img_frutales"; }
  .frutales h3 {
    font-size: 100%; }

.texto_frutales {
  grid-area: texto_frutales;
  padding: 2%; }
  .texto_frutales p {
    text-align: justify;
    text-justify: inter-word; }

.img_frutales {
  grid-area: img_frutales;
  padding: 2%;
  background-image: url(../imagenes/frutales.jpg);
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-size: 80% 35vh; }

.porter {
  grid-area: porter;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh;
  grid-template-areas: "texto_porter img_porter"; }
  .porter h3 {
    font-size: 100%; }

.texto_porter {
  grid-area: texto_porter;
  padding: 2%; }
  .texto_porter p {
    text-align: justify;
    text-justify: inter-word; }

.img_porter {
  grid-area: img_porter;
  padding: 2%;
  background-image: url(../imagenes/porter.jpg);
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-size: 80% 35vh; }

.stout {
  grid-area: stout;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh;
  grid-template-areas: "texto_stout img_stout"; }
  .stout h3 {
    font-size: 100%; }

.texto_stout {
  grid-area: texto_stout;
  padding: 2%; }
  .texto_stout p {
    text-align: justify;
    text-justify: inter-word; }

.img_stout {
  grid-area: img_stout;
  padding: 2%;
  background-image: url(../imagenes/stout.jpg);
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-size: 80% 35vh; }

.scotch {
  grid-area: scotch;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh;
  grid-template-areas: "texto_scotch img_scotch"; }
  .scotch h3 {
    font-size: 100%; }

.texto_scotch {
  grid-area: texto_scotch;
  padding: 2%; }
  .texto_scotch p {
    text-align: justify;
    text-justify: inter-word; }

.img_scotch {
  grid-area: img_scotch;
  padding: 2%;
  background-image: url(../imagenes/scotch.jpg);
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-size: 80% 35vh; }

.IPA {
  grid-area: IPA;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh;
  grid-template-areas: "texto_IPA img_IPA"; }
  .IPA h3 {
    font-size: 100%; }

.texto_IPA {
  grid-area: texto_IPA;
  padding: 2%; }
  .texto_IPA p {
    text-align: justify;
    text-justify: inter-word; }

.img_IPA {
  grid-area: img_IPA;
  padding: 2%;
  background-image: url(../imagenes/IPA.jpg);
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-size: 80% 35vh; }

.barley_wine {
  grid-area: barley_wine;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh;
  grid-template-areas: "texto_barley_wine img_barley_wine"; }
  .barley_wine h3 {
    font-size: 100%; }

.texto_barley_wine {
  grid-area: texto_barley_wine;
  padding: 2%; }
  .texto_barley_wine p {
    text-align: justify;
    text-justify: inter-word; }

.img_barley_wine {
  grid-area: img_barley_wine;
  padding: 2%;
  background-image: url(../imagenes/barley_wine.jpg);
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-size: 80% 35vh; }

.lager {
  background-color: #eab676; }

.pilsen {
  background-color: #eab676; }

.honey {
  background-color: #eab676; }

.trigo {
  background-color: #eab676; }

.frutales {
  background-color: #eab676; }

.porter {
  background-color: #be6025; }

.stout {
  background-color: #be6025; }

.scotch {
  background-color: #be6025; }

.IPA {
  background-color: #be6025; }

.barley_wine {
  background-color: #be6025; }

.caracteristicas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.ibu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .ibu .IBU {
    padding: 0px 10px; }
  .ibu .alcohol {
    padding: 0px 10px; }
  .ibu .malta {
    padding: 0px 10px; }

.maridaje {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .contenidoCervezas {
    grid-template-rows: 350vh 350vh; }
  .rubias {
    grid-template-rows: 70vh 70vh 70vh 70vh 70vh; }
  .varietales {
    grid-template-rows: 70vh 70vh 70vh 70vh 70vh; }
  .lager {
    grid-template-rows: 70vh; }
  .pilsen {
    grid-template-rows: 70vh; }
  .honey {
    grid-template-rows: 70vh; }
  .trigo {
    grid-template-rows: 70vh; }
  .frutales {
    grid-template-rows: 70vh; }
  .porter {
    grid-template-rows: 70vh; }
  .stout {
    grid-template-rows: 70vh; }
  .scotch {
    grid-template-rows: 70vh; }
  .IPA {
    grid-template-rows: 70vh; }
  .barley_wine {
    grid-template-rows: 70vh; }
  .caracteristicas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .ibu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start; }
    .ibu .IBU {
      padding: 0px 10px; }
    .ibu .alcohol {
      padding: 0px 10px; }
    .ibu .malta {
      padding: 0px 10px; } }

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .contenidoCervezas {
    grid-template-rows: 300vh 300vh; }
    .contenidoCervezas p {
      font-size: 80%; }
  .rubias {
    grid-template-rows: 60vh 60vh 60vh 60vh 60vh; }
  .varietales {
    grid-template-rows: 60vh 60vh 60vh 60vh 60vh; }
  .lager {
    grid-template-rows: 60vh; }
  .pilsen {
    grid-template-rows: 60vh; }
  .honey {
    grid-template-rows: 60vh; }
  .trigo {
    grid-template-rows: 60vh; }
  .frutales {
    grid-template-rows: 60vh; }
  .porter {
    grid-template-rows: 60vh; }
  .stout {
    grid-template-rows: 60vh; }
  .scotch {
    grid-template-rows: 60vh; }
  .IPA {
    grid-template-rows: 60vh; }
  .barley_wine {
    grid-template-rows: 60vh; }
  .caracteristicas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .ibu {
    display: none; }
  .maridaje {
    display: none; } }

@media only screen and (max-width: 576px) {
  .contenidoCervezas {
    grid-template-rows: 300vh 300vh; }
    .contenidoCervezas p {
      font-size: 80%; }
  .rubias {
    grid-template-rows: 60vh 60vh 60vh 60vh 60vh; }
  .varietales {
    grid-template-rows: 60vh 60vh 60vh 60vh 60vh; }
  .lager {
    grid-template-rows: 60vh; }
  .pilsen {
    grid-template-rows: 60vh; }
  .honey {
    grid-template-rows: 60vh; }
  .trigo {
    grid-template-rows: 60vh; }
  .frutales {
    grid-template-rows: 60vh; }
  .porter {
    grid-template-rows: 60vh; }
  .stout {
    grid-template-rows: 60vh; }
  .scotch {
    grid-template-rows: 60vh; }
  .IPA {
    grid-template-rows: 60vh; }
  .barley_wine {
    grid-template-rows: 60vh; }
  .img_lager {
    background-size: 40vw 30vh; }
  .img_pilsen {
    background-size: 40vw 30vh; }
  .img_honey {
    background-size: 40vw 30vh; }
  .img_trigo {
    background-size: 40vw 30vh; }
  .img_frutales {
    background-size: 40vw 30vh; }
  .img_porter {
    background-size: 40vw 30vh; }
  .img_stout {
    background-size: 40vw 30vh; }
  .img_scotch {
    background-size: 40vw 30vh; }
  .img_IPA {
    background-size: 40vw 30vh; }
  .img_barley_wine {
    background-size: 40vw 30vh; }
  .caracteristicas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .ibu {
    display: none; }
  .maridaje {
    display: none; } }

/* Merchandising */
.tableBackgroundColor--light {
  background-color: #6c757d; }

.tableBackgroundColor--dark {
  background-color: #212529; }

.tableBackgroundColor--lighter {
  background-color: #6d767e; }

.tableBackgroundColor--darker {
  background-color: #22262a; }

.merch {
  grid-area: datos;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15vh 15vh 15vh 60vh;
  grid-template-areas: "header" "menu" "busqueda" "tabla"; }

.headerMerchandising {
  grid-area: header;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .headerMerchandising h1 {
    color: white;
    font-family: 'Lora', serif; }

.busquedaMerchandising {
  grid-area: busqueda;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .busquedaMerchandising label {
    color: white; }
  .busquedaMerchandising .fa {
    color: white; }
  .busquedaMerchandising .buscador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.menuMerchandising {
  grid-area: menu;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .menuMerchandising h2 {
    text-decoration: none !important;
    color: white;
    font-family: 'Lora', serif; }
  .menuMerchandising h2:hover {
    color: #ff44ff;
    transition: 0.3s ease-out; }

.tablaMerchandising {
  grid-area: tabla;
  padding: 10px; }

.agregarMerch {
  margin-left: 25%;
  padding-left: 25%; }

.agregarMerchandising:hover {
  color: #ff44ff;
  transition: 0.3s ease-out; }

.promociones {
  grid-area: datos;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15vh 15vh 15vh 60vh;
  grid-template-areas: "header" "menu" "busqueda" "tabla"; }

.headerPromo {
  grid-area: header;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .headerPromo h1 {
    color: white;
    font-family: 'Lora', serif; }

.busquedaPromo {
  grid-area: busqueda;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .busquedaPromo label {
    color: white; }
  .busquedaPromo .fa {
    color: white; }
  .busquedaPromo .buscador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.menuPromo {
  grid-area: menu;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .menuPromo h2 {
    text-decoration: none !important;
    color: white;
    font-family: 'Lora', serif; }
  .menuPromo h2:hover {
    color: #ff44ff;
    transition: 0.3s ease-out; }

.tablaPromo {
  grid-area: tabla;
  padding: 10px; }

.agregarPromo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.agregarPromo:hover {
  color: #ff44ff;
  transition: 0.3s ease-out; }

/* Main */
body {
  background-image: url(../imagenes/fondoalt.jpg); }

a {
  text-decoration: none !important; }

/* Estilo del Menu */
.submenu {
  display: none;
  width: 110px;
  line-height: 1.5; }

.lista li {
  text-align: center;
  border-top-left-radius: 30px 40px;
  border-top-right-radius: 30px 40px;
  border-bottom-left-radius: 30px 40px;
  border-bottom-right-radius: 30px 40px; }

.lista li:hover {
  background-color: black;
  border-top-left-radius: 30px 40px;
  border-top-right-radius: 30px 40px;
  border-bottom-left-radius: 30px 40px;
  border-bottom-right-radius: 30px 40px;
  transition: 0.999s; }
  .lista li:hover h3 {
    color: white;
    transition: 0.999s; }
  .lista li:hover .submenu li {
    color: white; }

h3 {
  color: black; }

li {
  color: black;
  list-style-position: outside; }

/* Redes Sociales */
.RS {
  display: flex;
  justify-content: center;
  margin: 30px; }

.fa {
  margin: 10px;
  transform: scale(1.8); }

.fa:hover {
  color: black; }

/* altCSS */
#contenidoAlt {
  display: grid;
  grid-template-columns: 200px calc(100% - 200px);
  grid-template-rows: 30vh 80vh;
  grid-template-areas: "logo datos" "menu datos"; }

.logoAlt {
  grid-area: logo;
  max-width: 200px;
  max-height: 200px;
  transform: translateY(-2px); }

.menuAlt {
  grid-area: menu;
  width: 200px;
  background-color: white; }
  .menuAlt .lista {
    font-family: 'Cinzel', serif; }
    .menuAlt .lista li {
      margin-top: 40px;
      margin-right: 3vw; }
