/* altCSS */
#contenidoAlt{
	display: grid;
	grid-template-columns: 200px 85vw;
	grid-template-rows: 30vh 80vh;
	grid-template-areas: 
	"logo datos"
	"menu datos"
}
.logoAlt{
	grid-area: logo;
	max-width: 200px;
	max-height: 200px;
	transform: translateY(-2px);
}
.menuAlt{
	grid-area: menu;
	width: 200px;
	background-color: white;
	.lista{
		font-family: 'Cinzel', serif;
		li{
			margin-top: 40px;
			margin-right: 3vw;	
		}
	}
}

