/* Cervezas */
.datosCervezas{
	grid-area: datos;
	display: grid;
	grid-template-columns:85vw;
	grid-template-rows:250vh 250vh ;
	grid-template-areas: 
	"rubias"
	"varietales"
}
.rubias{
	grid-area: rubias;
	display: grid;
	grid-template-columns:85vw;
	grid-template-rows:50vh 50vh 50vh 50vh 50vh ;
	grid-template-areas: 
	"lager"
	"pilsen"
	"honey"
	"trigo"
	"frutales"
}
.varietales{
	grid-area: varietales;
	display: grid;
	grid-template-columns:85vw;
	grid-template-rows:50vh 50vh 50vh 50vh 50vh ;
	grid-template-areas: 
	"porter"
	"stout"
	"scotch"
	"IPA"
	"barley_wine"
}
@each $variedad in lager, pilsen, honey, trigo, frutales, porter, stout, scotch, IPA, barley_wine {
   .#{$variedad} { 
   		grid-area: #{$variedad};
		border-top: solid 1px black;
		border-bottom: solid 1px black;
		h3{
			font-size:100%;
		}
		display: grid;
		grid-template-columns: 42.5vw 42.5vw;
		grid-template-rows: 50vh;
		grid-template-areas: 
		"texto_#{$variedad} img_#{$variedad}"
    }
    .texto_#{$variedad} {
    	grid-area: texto_#{$variedad};
    	padding: 2%;		
    }
    .img_#{$variedad} {
    	grid-area: img_#{$variedad};
    	background-image: url(../imagenes/#{$variedad}.jpg);
		@include estiloImagenes(grid,no-repeat,cover,center,center,center);	
		background-size: 40vw 35vh;
    }
}
@each $variedad in lager, pilsen, honey, trigo, frutales{
	.#{$variedad} {
		background-color: #eab676;
	}
}
@each $variedad in porter, stout, scotch, IPA, barley_wine{
	.#{$variedad} {
			background-color: #be6025;
		}
}
.caracteristicas{
	@include estiloFlex(flex,row,space-around,center)
}
