/* Cervezas */
.datosCervezas{
	grid-area: datos;
	display: grid;
	grid-template-columns:100%;
	grid-template-rows: 15vh 15vh 15vh 60vh;
	grid-template-areas: 
	"header"
	"menu"
	"busqueda"
	"contenido" 
}
.headerCervezas{
	grid-area: header;
	padding: 1vh 1vw;
	h1{
		color:white;
		font-family: 'Lora', serif;
	}
	//background-color: white;
	//border:solid 1px black;
	@include estiloFlex(flex,row,center,center);
}	
.busquedaCervezas{
	grid-area: busqueda;
	@include estiloFlex(flex,row,center,center);
	label{
		color:white;
	}
	.fa{
		color:white;
	}
	//background-color: white;
	//border: solid 1px black;
	.buscador{
		@include estiloFlex(flex,row,center,center);
	}
}

.menuCervezas{
	grid-area: menu;
	padding: 1vh 1vw;
	//background-color: white;
	@include estiloFlex(flex,row,space-around,center);
	//border:solid 1px black;
	h2{
		text-decoration: none !important;
		color:white;
		font-family: 'Lora', serif;
	}
	h2:hover{
		color:$violeta;
		transition: $duracion ease-out;
	}
}

.contenidoCervezas{
	grid-area: contenido;
	display: grid;
	grid-template-columns:100%;
	grid-template-rows:250vh 250vh ;
	grid-template-areas: 
	"rubias"
	"varietales"
}
.rubias{
	grid-area: rubias;
	display: grid;
	margin: 0% 2.5%;
	grid-template-columns:100%;
	grid-template-rows:50vh 50vh 50vh 50vh 50vh ;
	grid-template-areas: 
	"lager"
	"pilsen"
	"honey"
	"trigo"
	"frutales"
}
.varietales{
	grid-area: varietales;
	display: grid;
	margin:0% 2.5%;
	grid-template-columns:100%;
	grid-template-rows:50vh 50vh 50vh 50vh 50vh ;
	grid-template-areas: 
	"porter"
	"stout"
	"scotch"
	"IPA"
	"barley_wine"
}
@each $variedad in lager, pilsen, honey, trigo, frutales, porter, stout, scotch, IPA, barley_wine {
   .#{$variedad} { 
   		grid-area: #{$variedad};
		border-top: solid 1px black;
		border-bottom: solid 1px black;
		h3{
			font-size:100%;
		}
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50vh;
		grid-template-areas: 
		"texto_#{$variedad} img_#{$variedad}"
    }
    .texto_#{$variedad} {
    	grid-area: texto_#{$variedad};
    	padding: 2%;	
    	p{
    		text-align: justify;
    		text-justify: inter-word;
    	}
    }
    .img_#{$variedad} {
    	grid-area: img_#{$variedad};
    	padding:2%;
    	background-image: url(../imagenes/#{$variedad}.jpg);
		@include estiloImagenes(grid,no-repeat,cover,center,center,center);	
		background-size: 80% 35vh;
    }
}
@each $variedad in lager, pilsen, honey, trigo, frutales{
	.#{$variedad} {
		background-color: #eab676;
	}
}
@each $variedad in porter, stout, scotch, IPA, barley_wine{
	.#{$variedad} {
			background-color: #be6025;
		}
}
.caracteristicas{
	@include estiloFlex(flex,column,space-around,center)
}
.ibu{
	@include estiloFlex(flex,row,space-around,center);
	@each $caract in IBU, alcohol, malta{
		.#{$caract} {
			padding: 0px 10px;
		}
	}
	
}
.maridaje{
	@include estiloFlex(flex,row,space-around,center)	
}
@media only screen and (min-width: 768px) and (max-width:992px){
	.contenidoCervezas{
		grid-template-rows:350vh 350vh ;
	}
	.rubias{
		grid-template-rows:70vh 70vh 70vh 70vh 70vh ;
	}
	.varietales{
		grid-template-rows:70vh 70vh 70vh 70vh 70vh ;
	}
	@each $variedad in lager, pilsen, honey, trigo, frutales, porter, stout, scotch, IPA, barley_wine {
		.#{$variedad} { 
			grid-template-rows: 70vh;
		}
	}
	.caracteristicas{
		@include estiloFlex(flex,row,space-around,center)
	}
	.ibu{
		@include estiloFlex(flex,column,space-around,start)
		@each $caract in IBU, alcohol, malta{
			.#{$caract} {
				padding: 0px 10px;
			}
		}	
	}
}
@media only screen and (min-width: 576px) and  (max-width: 768px) {
	.contenidoCervezas{
		grid-template-rows:300vh 300vh ;
		p{
			font-size: 80%;
		}
	}
	.rubias{
		grid-template-rows:60vh 60vh 60vh 60vh 60vh ;
	}
	.varietales{
		grid-template-rows:60vh 60vh 60vh 60vh 60vh ;
	}
	@each $variedad in lager, pilsen, honey, trigo, frutales, porter, stout, scotch, IPA, barley_wine {
		.#{$variedad} { 
			grid-template-rows: 60vh;
		}
	}
	.caracteristicas{
		@include estiloFlex(flex,row,space-around,center)
	}
	.ibu{
		display: none;
	}
	.maridaje{
		display: none;	
	}
}
@media only screen and (max-width: 576px){
	.contenidoCervezas{
		grid-template-rows:300vh 300vh ;
		p{
			font-size: 80%;
		}
	}
	.rubias{
		grid-template-rows:60vh 60vh 60vh 60vh 60vh ;
	}
	.varietales{
		grid-template-rows:60vh 60vh 60vh 60vh 60vh ;
	}
	@each $variedad in lager, pilsen, honey, trigo, frutales, porter, stout, scotch, IPA, barley_wine {
		.#{$variedad} { 
			grid-template-rows: 60vh;
		}
	}
	@each $variedad in lager, pilsen, honey, trigo, frutales, porter, stout, scotch, IPA, barley_wine {
		.img_#{$variedad} {
			background-size: 40vw 30vh;
		}
	}
	.caracteristicas{
		@include estiloFlex(flex,row,space-around,center)
	}
	.ibu{
		display: none;
	}
	.maridaje{
		display: none;	
	}
}