/* Locales */
.datosLocales{
	grid-area: datos;	
	display: grid;
	grid-template-columns:40vw 40vw ;
	grid-template-rows: 90vh;
	grid-template-areas: 
	"locales mapa"
}
.locales{
	grid-area: locales;
	padding:20px;
	@include estiloFlex(flex,row,center,start)
}
.mapa{
	grid-area: mapa;
	padding:20px;
	@include estiloFlex(flex,row,center,center)
}
@media only screen and(max-width: 768px){
	.datosLocales{
		grid-area: datos;	
		display: grid;
		grid-template-columns:60vw ;
		grid-template-rows: 45vh 45vh;
		grid-template-areas: 
		"locales"
		" mapa"
	}
}