/* Main */
body{
	background-image: url(../imagenes/fondo.jpeg);
}
a{
	text-decoration: none!important;
}
.sitemap{
	grid-area: sitemap;
	max-width: 200px;
	ul{
	background-color: white;
		li{
			a{
				color: black !important;
			}
		}
	}
	.active{
		background-color: $gray-100 !important;
		border-color: $gray-100 !important;
		a{
			color: $gray-600 !important;
		}
		
	}
}
/* Estilo del Menu */
.submenu{
	display: none;
	width:110px;
	line-height: 1.5;
}
.lista li:hover{
	background-color: black;
	transition: $duracion * 3.33;
	h3{
		color:white;
		transition: $duracion * 3.33;
	}
	.submenu li{
		color:white;
	}
}
h3{
	color: black;
}
li{
	color:black;
	list-style-position: outside;
}
/* Redes Sociales */
.RS{
	display:flex;
	justify-content: center;
	margin: 30px;	
}
.fa{
	margin: 10px;
	transform: scale(1.8);
}
.fa:hover{
	color:black;
}
