/* Merchandising */
@each $color, $value in $table-variants {
  .tableBackgroundColor--#{$color}{
  	background-color: $value;
  }
}
.merch{
	grid-area: datos;
	display: grid;
	grid-template-columns:100%;
	grid-template-rows: 15vh 15vh 15vh 60vh;
	grid-template-areas: 
	"header"
	"menu"
	"busqueda"
	"tabla" 
}
.headerMerchandising{
	grid-area: header;
	padding: 1vh 1vw;
	//background-color: white;
	//border:solid 1px black;
	h1{
		color:white;
		font-family: 'Lora', serif;
	}
	@include estiloFlex(flex,row,center,center);
}	
.busquedaMerchandising{
	grid-area: busqueda;
	@include estiloFlex(flex,row,center,center);
	//background-color: white;
	//border: solid 1px black;
	label{
		color:white;
	}
	.fa{
		color:white;
	}
	.buscador{
		@include estiloFlex(flex,row,center,center);
	}
}

.menuMerchandising{
	grid-area: menu;
	padding: 1vh 1vw;
	//background-color: white;
	@include estiloFlex(flex,row,space-around,center);
	//border:solid 1px black;
	h2{
		text-decoration: none !important;
		color:white;
		font-family: 'Lora', serif;
	}
	h2:hover{
		color:$violeta;
		transition: $duracion ease-out;
	}

}
.tablaMerchandising{
	grid-area: tabla;
	padding: 10px;
}
.agregarMerch{
	//@include estiloFlex(flex,row,space-around,center);
	margin-left: 25%;
	padding-left: 25%;
}
.agregarMerchandising:hover{
	color:$violeta;
	transition: $duracion ease-out;
}