/* Nosotros */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.datosNosotros{
	grid-area: datos;
	padding: 30px;
	display: grid;
	grid-template-columns: 60vw ;
	grid-template-rows: 45vh 45vh 25vh;
	grid-template-areas: 
	"equipo"
	"historia"
	"cervezas"
}
.equipo{
	grid-area: equipo;
	background-color: black;
	border: 2px solid;
	color:white;
	margin-left: 30px;
	padding: 10px;
}
.historia{
	grid-area: historia;
	background-color: white;
	border: 2px solid;
	margin-left: 30px;
	margin-top: 20px;
	padding: 10px;
}
.cervezasNosotros{
	grid-area: cervezas;
	@include estiloFlex(flex,row, space-around,center);
	background-color: white;
	border: 2px solid;
	margin-left: 30px;
	margin-top: 20px;
	padding: 10px;
}

.nosotros--fuente{
	font-family: 'Dancing Script', cursive;
}
@media only screen and (min-width: 576px) and (max-width: 768px){
	.datosNosotros{
		grid-area: datos;
		padding: 30px;
		display: grid;
		grid-template-columns: 60vw ;
		grid-template-rows: 60vh 60vh;
		grid-template-areas: 
		"equipo"
		"historia"
	}
	.cervezasNosotros{
		display: none;
	}
}
@media only screen and (max-width: 576px){
	.datosNosotros{
		grid-area: datos;
		padding: 30px;
		display: grid;
		grid-template-columns: 60vw ;
		grid-template-rows: 70vh 70vh;
		grid-template-areas: 
		"equipo"
		"historia"
	}
	.cervezasNosotros{
		display: none;
	}
}