.promociones{
	grid-area: datos;
	display: grid;
	grid-template-columns:100%;
	grid-template-rows: 15vh 15vh 15vh 60vh;
	grid-template-areas: 
	"header"
	"menu"
	"busqueda"
	"tabla" 
}
.headerPromo{
	grid-area: header;
	padding: 1vh 1vw;
	//background-color: white;
	//border:solid 1px black;
	@include estiloFlex(flex,row,center,center);
	h1{
		color:white;
		font-family: 'Lora', serif;
	}
}	
.busquedaPromo{
	grid-area: busqueda;
	@include estiloFlex(flex,row,center,center);
	label{
		color:white;
	}
	.fa{
		color:white;
	}
	//background-color: white;
	//border: solid 1px black;
	.buscador{
		@include estiloFlex(flex,row,center,center);
	}
}

.menuPromo{
	grid-area: menu;
	padding: 1vh 1vw;
	//background-color: white;
	@include estiloFlex(flex,row,space-around,center);
	//border:solid 1px black;
	h2{
		text-decoration: none !important;
		color:white;
		font-family: 'Lora', serif;
	}
	h2:hover{
		color:$violeta;
		transition: $duracion ease-out;
	}
}
.tablaPromo{
	grid-area: tabla;
	padding: 10px;
}
.agregarPromo{
	@include estiloFlex(flex,row,space-around,center);
}
.agregarPromo:hover{
	color:$violeta;
	transition: $duracion ease-out;
}