/* Tienda */
.datosTienda{
	grid-area: datos;
	display: grid;
	grid-template-columns:100%;
	grid-template-rows: 25vh 70vh 15vh;
	grid-template-areas: 
	"header"
	"carrusel"
	"servicios"
}
.headerTienda{
	grid-area: header;
	@include estiloFlex(flex,row,space-around,center)
	font-family: 'Lora', serif;
	h2{
		color:white;
	}
}
.carruselTienda{
	grid-area: carrusel;
	padding: 30px;
	.carousel-item{
		img{
			height: 60vh;
		}
	}
}
.servicios{
	grid-area: servicios;
	background-color: white;
	padding: 0vh 2vw;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 100%;
	grid-template-areas: 
	"envio metodo seguridad"
}
@each $servicio in envio, metodo, seguridad {
	.#{$servicio}{
		grid-area: #{$servicio};
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 33% 33% 33%;
		grid-template-areas: 
		"f1-#{$servicio}"
		"f2-#{$servicio}"
		"f3-#{$servicio}"
	}
}
@each $servicio in envio, metodo, seguridad{
	.#{$servicio}{
		.f1-#{$servicio} {
			grid-area: f1-#{$servicio};
			@include estiloFlex(flex,column,center,center)
		}
		.f2-#{$servicio} {
			grid-area: f2-#{$servicio};
			@include estiloFlex(flex,column,center,center)
		}
		.f3-#{$servicio} {
			grid-area: f3-#{$servicio};
			@include estiloFlex(flex,column,center,center)
		}
	}
}
/* estilo de la tienda */
.cart{
	display: flex;
	justify-content: center;
	.fa{
		color:white;
	}	
}
.cart .fa:hover{
	color:$violeta;
	transition: $duracion ease-out;
} 
.catheader{
	color:#202020;
	font-size: 3vw;
}
.catheader:hover{
	color:$violeta;
	transition: $duracion ease-out;
}
.carruselTienda{
	strong{
		font-family: 'Diplomata SC', cursive;
	}
}
@each $color, $value in rubia, varietales {
  .carrusel__titulo--#{$color}{
  	color: $value;
  }
}
.carrusel__subtitulo{
	color:#990099;
}
.carousel-inner{
	img{
		height:50vh;
	}
}
@media only screen and (min-width: 576px) and (max-width: 768px){
	.catheader{
		font-size: 125%;
	}
	.datosTienda{
	grid-area: datos;
	display: grid;
	grid-template-columns:85vw;
	grid-template-rows: 25vh 70vh 25vh;
	grid-template-areas: 
	"header"
	"carrusel"
	"servicios"
	}
	.carruselTienda{
	grid-area: carrusel;
	padding: 30px;
	background-color: $lighter;
	.carousel-item{
		img{
			height: 50vh;
		}
	}
}
}
@media only screen and (max-width: 576px){
	.datosTienda{
		grid-area: datos;
		display: grid;
		grid-template-columns:60vw;
		grid-template-rows: 50vh 25vh 30vh;
		grid-template-areas: 
		"carrusel"
		"header"
		"servicios"
	}
	.headerTienda{
		grid-area: header;
		background-color: white;
		@include estiloFlex(flex,column,center,center)
		border:solid 1px black;
	}
	.carruselTienda{
	grid-area: carrusel;
	padding: 30px;
	background-color: $lighter;
	.carousel-item{
			img{
				height: 40vh;
			}
		}
	}
	.catheader{
		font-size: 100%;
	}
} 