/* Tienda */
.datosTienda{
	grid-area: datos;
	display: grid;
	grid-template-columns:85vw;
	grid-template-rows: 25vh 70vh 15vh;
	grid-template-areas: 
	"header"
	"carrusel"
	"servicios"
}
.headerTienda{
	grid-area: header;
	background-color: white;
	@include estiloFlex(flex,row,space-around,center)
	border:solid 1px black;
}
.carruselTienda{
	grid-area: carrusel;
	padding: 30px;
	background-color: $lighter;
	.carousel-item{
		img{
			height: 60vh
		}
	}
}
.servicios{
	grid-area: servicios;
	background-color: white;
	border:solid 1px black;
	padding: 0vh 10vw;
	@include estiloFlex(flex,row,space-around,center)	
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 100%;
	grid-template-areas: 
	"envio metodo seguridad"
}
.envio{
	grid-area: envio;
}
.metodo{
	grid-area: metodo;
}
.seguridad{
	grid-area: seguridad
}
/* estilo de la tienda */
.cart{
	display: flex;
	justify-content: center;
	.fa{
		color:black;
	}	
}
.cart .fa:hover{
	color:$violeta;
	transition: $duracion ease-out;
} 
.catheader{
	color:#202020;
}
.catheader:hover{
	color:$violeta;
	transition: $duracion ease-out;
}
@each $color, $value in rubia, varietales {
  .carrusel__titulo--#{$color}{
  	color: $value;
  }
}
.carrusel__subtitulo{
	color:#990099;
}
.carousel-inner{
	img{
		height:50vh;
	}
}
@media only screen and (min-width: 576px) and (max-width: 768px){
	.catheader{
		font-size: 125%;
	}
}
@media only screen and (max-width: 576px){
	.datosTienda{
		grid-area: datos;
		display: grid;
		grid-template-columns:60vw;
		grid-template-rows: 70vh 20vh;
		grid-template-areas: 
		"carrusel"
		"header"
	}
	.catheader{
		font-size: 100%;
	}
} 