header{
	background-color: #cccccc;
	display: flex;
	justify-content: center;
	border-radius: 1rem;
}
#nav{
	background-color: #bbbbbb;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-radius: 1rem;
}
a{
	text-decoration: none!important;
	color: black;
}
