header{
	background-color: #cccccc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 1rem;
}
#titulo{
	display: flex;
	justify-content: center;
}
.shopping-cart{
	display: flex;
	justify-content: end;
}
#nav{
	background-color: #bbbbbb;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-radius: 1rem;
}
a{
	text-decoration: none!important;
	color: black;
}
#botonera {
	display: flex;
	flex-direction: column;
	background-color: #eeeeee;
	width: 20vw;
}
#botonera .modificarContador{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding:10%;
}
.modificarContador button{
	padding: 5%;
	width:15%;
	height: 15%;
	justify-content: center;
}
.contador{
	padding: 5%;
	width: 15%;
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.agregarCarrito{
	display: flex;
	justify-content: center;
}